html {
    width: 100%;
    height: 100%;
    background:
        radial-gradient(
            circle at 70% 40%,
            rgba(36, 122, 71, 0.35) 0%,
            rgba(15, 48, 28, 0.1) 40%,
            rgba(10, 30, 18, 0.05) 70%,
            rgba(8, 22, 14, 0) 100%
        ),
        linear-gradient(to right, #0f2a1a 0%, #204f2e 50%, #194527 100%);
    background-blend-mode: normal;
}
#Log_C {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
#IcoImg {
    width: 5rem;
    height: 5rem;
    filter: drop-shadow(0 0 14px rgba(0, 0, 0, 0.35));
}

#Welcome_T {
    color: #fff;
    font-family: "Instrument Serif";
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.92px;
}
#Sub_T {
    color: #e0d5d5;
    text-align: center;
    font-family: Halant;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

#Google_Btn_Auth {
    width: 471px;
    height: 56px;
    border-radius: 16px;
    background: #19e65e;
    box-shadow: 0 4px 4px 13px rgba(42, 108, 64, 0.04);
    margin-top: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#Google_Btn_Auth_Content {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#Google_Btn_Auth_Content_Ico {
    width: 19px;
    height: 19px;
    margin-right: 0.6rem;
}

#Auth_MethodSeparation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2.4rem;
    color: rgba(175, 168, 168, 0.9);
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.Google_Btn_Auth_Content_Lines {
    width: 125px;
    height: 2px;
}

#Log_Email_Auth_Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
    margin-top: 2.4rem;
}
#Auth_Email {
    width: 471px;
    height: 56px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: rgba(29, 44, 34, 0.58);
    backdrop-filter: blur(0px);
}
#Auth_Email::placeholder {
    color: rgba(255, 255, 255, 0.2);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}
#SignInWithEmail_Button_Auth {
    width: 471px;
    height: 56px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: rgba(29, 44, 34, 0.58);
    backdrop-filter: blur(0px);
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
#SignInWithEmail_Button_Auth:hover {
    background: rgba(29, 44, 34, 0.8);
    transition: background 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#SignInWithEmail_Button_Auth:active {
    background: #12351e;
    transition: background 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#Dont_have_an_account_Component {
    color: rgba(175, 168, 168, 0.6);
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 1.7rem;
}
#Dont_have_an_account_Component_SignupLink {
    color: #19e65e;
    padding-left: 10px;
}
#Dont_have_an_account_Component_SignupLink:hover {
    color: #ffffff;
    transition: color 0.2s ease-in-out;
}

#Already_Have_An_Account_Popup {
    color: rgba(175, 168, 168, 0.6);
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 1.7rem;
}
#Already_Have_An_Account_Popup_Link_Redirect {
    color: #19e65e;
    padding-left: 10px;
}
#Already_Have_An_Account_Popup_Link_Redirect:hover {
    color: #ffffff;
    transition: color 0.2s ease-in-out;
}

#Auth_SignIn_Btn {
    width: 82px;
    height: 56px;
    border-radius: 42px;
    border: 1px solid rgba(213, 213, 213, 0.1);
    background: #19e65e;
    backdrop-filter: blur(0px);
}
#Auth_SignIn_Btn:hover {
    background: rgba(29, 44, 34, 0.8);
    transition: background 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#Auth_SignIn_Btn:active {
    background: #98eb9e;
    transition: background 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#Enter_Arrow_Svg {
    width: 19.167px;
    height: 27.5px;
    transform: rotate(90deg);
}
.Auth_Email_Account_Creation {
    width: 400px;
    height: 56px;
    border-radius: 16px;
    border: 3px solid rgba(213, 213, 213, 0.1);
    background: rgba(29, 44, 34, 0.58);
    backdrop-filter: blur(0px);
    color: rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    padding-left: 1.5rem;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#Sign_Email_Auth_Form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
    margin-top: 2rem;
}
