html {
    width: 100%;
    height: 100%;
    background:
        radial-gradient(
            circle at 70% 40%,
            rgba(36, 122, 71, 0.35) 0%,
            rgba(15, 48, 28, 0.1) 40%,
            rgba(10, 30, 18, 0.05) 70%,
            rgba(8, 22, 14, 0) 100%
        ),
        linear-gradient(to right, #0f2a1a 0%, #204f2e 50%, #194527 100%);
    background-blend-mode: normal;
}
#LoginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
#icon {
    width: 5rem;
    height: 5rem;
    filter: drop-shadow(0 0 14px rgba(0, 0, 0, 0.35));
}

#title {
    color: #fff;
    font-family: "Instrument Serif";
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.92px;
}
#SubText {
    color: #e0d5d5;
    text-align: center;
    font-family: Halant;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

#GoogBtn {
    width: 471px;
    height: 56px;
    border-radius: 16px;
    background: #19e65e;
    box-shadow: 0 4px 4px 13px rgba(42, 108, 64, 0.04);
    margin-top: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#GBtnText {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#gicon {
    width: 19px;
    height: 19px;
    margin-right: 0.6rem;
}

#or {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2.4rem;
    color: rgba(175, 168, 168, 0.9);
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#LoginFormEmail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
    margin-top: 2.4rem;
}
#email {
    width: 471px;
    height: 56px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: rgba(29, 44, 34, 0.58);
    backdrop-filter: blur(0px);
}
#email::placeholder {
    color: rgba(255, 255, 255, 0.2);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
#LoginBtn {
    width: 478px;
    height: 56px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: rgba(29, 44, 34, 0.58);
    backdrop-filter: blur(0px);
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
#LoginBtn:hover {
    background: rgba(29, 44, 34, 0.8);
    transition-duration: 1s;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}
#LoginBtn:active {
    background: #12351e;
    transition-duration: 0.4s;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}
#signup {
    color: rgba(175, 168, 168, 0.6);
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0.9rem;
}
#signupLink {
    color: #19e65e;
}
#signupLink:hover {
    color: #ffffff;
    transition-duration: 0.1s;
    transition: ease-in-out;
}
.line {
    width: 125px;
    height: 2px;
}

#signIn {
    color: rgba(175, 168, 168, 0.6);
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0.9rem;
}
#signInLink {
    color: #19e65e;
}
#signupLink:hover {
    color: #ffffff;
    transition-duration: 0.1s;
    transition: ease-in-out;
}

#SignInBtn {
    width: 478px;
    height: 56px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: rgba(29, 44, 34, 0.58);
    backdrop-filter: blur(0px);
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
#SignInBtn:hover {
    background: rgba(29, 44, 34, 0.8);
    transition-duration: 1s;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}
#SignInBtn:active {
    background: #12351e;
    transition-duration: 0.4s;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}
